'atom-text-editor':
  'ctrl-e': 'editor:move-to-end-of-screen-line'
  'ctrl-a': 'editor:move-to-first-character-of-line'

'atom-workspace atom-text-editor':
  'ctrl-u': 'editor:delete-to-beginning-of-line'
